# Node modules
node_modules/

# TypeScript build output
#  Commented because of vercel 404
# dist/

# Environment variables
.env

# Logs
logs
*.log

# IDE-specific files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Other files
*.swp
*.swo